.hidden-long-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* white-space: pre-line; */
}

.hidden-long-text-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* white-space: pre-line; */
}

.hidden-long-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* white-space: pre-line; */
}

.shortened {
  max-height: 1050px;
  overflow: hidden;
}

.section-divider {
  border-bottom: 2px solid #404040;
  box-shadow: none;
  display: flex;
  height: 6em;
  margin: auto;
  position: relative;
  width: 98%;
  margin-top: -5em;
  float: left;
  background-image: linear-gradient(0deg,#181818 0,hsla(0,0%,9%,.7) 20%,hsla(0,0%,9%,.4) 30%,transparent 50%);

  &-icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    cursor: pointer;
    i {
      font-size: 16px;
      color: white;
    }

    &:hover {
      border: 2px solid #fff;
      background-color: #545454;
    }
  }
}

.run-left-away {
  right: -50px !important;
  transition: all 0.2s linear !important;
}

.run-right-away {
  right: -200px !important;
  transition: all 0.2s linear !important;
}

